blanco = #eee
body 
	background #222
	//color black

header
	background #222
	color blanco
	height 680px
	position relative
	width 100%
	figure
		position relative
		top 0
		margin 0
		height 100%
		width 100%
		img
			height 100%
			width 100%
	h2
		//background blanco
		font-size 1.6em
		left 10%
		position absolute
		top 70px
		width 500px
		z-index 2

	p
		//background red
		margin 3em 0
		text-align left
		left 10%
		position absolute
		top 100px
		width 40%	
	a 
		background #0477BF
		color blanco
		left 10%
		position absolute
		padding 1em 2em
		top 350px
		text-decoration none
		&:hover
			color black
			background blanco

	#titulo-home
		//background red
		font-size 2.5em
		font-style italic
		left 10%
		position absolute
		top 10px
		width 500px
		z-index 3


nav
	//background green
	position relative
	width 100%
	ul
		margin 0
		text-align right
		position relative
		li
			display inline-block
			margin 0

			a
				background #0477BF
				color blanco
				display inline-block
				text-decoration none
				padding 1em 2.5em
				margin 0
				&:hover
					background blanco
					color black
		
#about
	//background green
	text-align center
	width 100%
	h2
		font-size 1.8em
		font-style italic
		color blanco
	p
		color blanco
		width 100%
		//background yellow
	.about-item
		display inline-block
		vertical-align top
		width 30%
		figure
			margin 0
			width 100%
			img
				border-radius 50%
				width 50%
			figcaption
				//background red
				width 100%
				h2
					color #0477BF
				p
					color blanco
					width 100%
	.about-personal
		color blanco
		h2
			color #0477BF

footer
	//background red
	width 100%
	p
		text-align right

#contact-us
	//background green
	color blanco
	position relative
	text-align center
	#address
		//background red
		text-align center
		p
			top 100px
			position relative
	#contact-us-desc
		color black
		background rgba(255,255,255,0.5)
		border 1px solid blanco
		margin 0 10em
	#forms
		//background orange
		position relative
		input
			color black
			border-radius 5px
			border 1px solid blanco
			display block
			margin 1em 0
			padding 0
			position relative
			left 5%
			top 40px
			height 30px
			width 90%
	#send
		//background yellow
		position relative
		textarea
			color black
			display block
			height 100px
			left 5%
			top 30px
			position relative
			width 90%
		input
			background #0477BF
			color blanco
			border 1px solid #0477BF
			padding 0.7em 1.5em
			position relative
			top 70px
			&:hover
				background blanco
				color black
	#address,#forms,#send
		display inline-block
		height 300px
		vertical-align top
		width 30%


#pricing
	//background green
	color blanco
	text-align center
	position relative
	width 100%	
	.pricing-item
		border-radius 2px
		border 1.5px solid #0477BF
		display inline-block
		vertical-align top
		margin-top 1em
		margin-bottom 3em
		width 20%
		li
			list-style none
			margin 2em 0
			text-align center
			width 100%

			a
				background #0477BF
				color blanco
				text-decoration none
				margin 1em
				padding 1em
				&:hover
					background blanco
					color black
	.pricing-title
		border-radius 2px solid #0477BF
		background #0477BF
		position relative
		margin 0
		height 50px
		width 100%
		top -32px
		p
			position relative
			top 15px
			width 100%
		
// http://html5-ninja.com/preview/61

#projects
	//background green
	text-align center
	width 100%
	.project-item
		display inline-block
		vertical-align top
		width 20%
		figure
			width 100%
			img
				width 80%


#team
	//background green
	text-align center
	position relative
	.team-item
		//background red
		text-align center
		display inline-block
		margin 1.5em 0.5em
		vertical-align top
		width 20%
		figure
			margin 0
			width 100%
			figcaption
				text-align center
				h3
					color #0477BF
				p
					color blanco
			img
				width 100%



#services
	//background green
	color blanco
	text-align center
	padding 1em 0
	width 100%

	.services-item
		border 1px solid blanco
		display inline-block
		vertical-align top
		margin 0.5em
		width 30%
		h3
			color #0477BF
			font-style italic
.titles
	font-size 1.8em
	font-style italic
	color blanco	
